* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.bg-header-footer {
    background-color: #013B94;
    padding: 30px 0px;
}

.dimensioni-logo {
    width: 50%;
}

#color {
    color: white;
    text-decoration: none;
}

.list-header {
    padding: 10px 15px;
    border-radius: 50px;
}

.list-header:hover {
    background-color: #234E9E;

}

/* footer */
.color-hover:hover {
    color: gray !important;
}